@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Application</h1>

<div class="container mt-4">
    <p>Welcome to our application! You can access the registration form by clicking the button below.</p>
    
    <a href="/user-form" class="btn btn-primary">Go to Registration Form</a>
</div>
